body {
    background-color: bisque;
}
    /* main {
         display: inline-block;
         width: 800px;
         margin-top

    }
        .left-column {

        }
        .right-column {
            display: block;
        } */