.forma {
    display: inline-block;
    width: 100%;
}
    .forma-row {
        display: inline-block;
        width: 100%;
        margin-top: 10px;
    }

        .forma-row + .forma-row {
            margin-top: 40px;
        }

        label {
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 15px;
            font-weight: 500;
            color: rgb(219, 216, 216);
        }
        input {
            display: inline-block;
            width: 100%;
            border: none;
            font-size: 18px ;
            color: #777;
            border-bottom: 1px solid #777777 ;
            line-height: 40px;
        }
        
        .forma-row > span {
            display: inline-block;
            float: left;
            padding: 10px;
            line-height: 20px;
            font-size: 15px;
            margin-left: 10px;
        }
        .forma-row > a {
            display: inline-block;
            float: left;
            padding: 10px;
            line-height: 20px;
            color: #065983;
            font-size: 15px;
        }